@import "tailwindcss";

[data-theme="light"] {
  /* surfaces */
  --surface-card: #FEF6ED;
  --surface-frame: #FFEEDB;
  --surface-frame-card: #FBE4CE;
  --surface-hover: #FFEAC1;

  /* greens */
  --desktop-base: #7E8450;
  --accent-core: #899243;

  /* amber */
  --title-bar: #E6B14C;

  /* reds */
  --standard-action: #D16D57;
  --system-close: #9A1441;
  --pressed-state: #702020;

  /* neutrals */
  --disabled: #D3CDCD;
  --mid-gray: #949393;
  --near-black: #000F08;

  /* graphics */
  --badge-red: #B54F39;
  --badge-blue: #5170D5;

  /* layout */
  --taskbar-height: 2.5rem;
}

[data-theme="dark"] {

}

[data-theme="mono"] {

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--desktop-base);
  color: var(--near-black);
  font-family: Arial, Helvetica, sans-serif;
}

.desktop-content {
  height: calc(100vh - 2.5rem);
  margin-top: 2.5rem;
}