.toggleContainer {
  width: 50px;
  height: 30px;
  border-radius: 2px;
  border: 0.15rem solid;
  border-color: var(--near-black);
  cursor: pointer;
  display: flex;
  padding: 5px;
  transition: background-color 0.2s ease;
  align-items: center;
}

.toggleContainer.on {
  background-color: var(--standard-action);
  justify-content: flex-end;
}

.toggleContainer.off {
  background-color: var(--disabled);
  justify-content: flex-start;
}

.toggleHandle {
  width: 20px;
  height: 20px;
  background-color:white;
  border-radius: 2px;
  border: 0.15rem solid;
  border-color: var(--near-black);
}
